body {
  background: url('/../images/justinlvdu.png') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#trashcan {
  color: white;
  font-size: 40px;
  margin-left: 100px;
}

#telltale {
  color: white;
  font-size: 48px;
  display: inline-block;
  margin-right: 140px;
}

#sunshine {
  color: red;
  font-size: 62px;
  margin-right: 120px;
}

#warmth {
  color: blue;
  font-size: 42px;
  margin-left: 99px;
}
